:root{
    --clr-nutmeg: #854632FF;
    --clr-dark-raspberry: #7B284FFF;

    --clr-white: #FFFFFFFF;
    --clr-rose-white: #FFF5FAFF;
    --clr-eggshell: #F3E6D8FF;
    --clr-light-grey: #E4DED8FF;
    --clr-wenge-brown: #5F574EFF;
    --clr-dark-charcoal: #302D2CFF;
}